name: Semgrep

# https://semgrep.dev/docs/semgrep-ci/sample-ci-configs/#sample-github-actions-configuration-file
on:
    workflow_dispatch:

jobs:
    semgrep:
        name: Scan
        runs-on: ubuntu-latest
        container:
            image: returntocorp/semgrep
        if: (github.triggering_actor != 'dependabot[bot]')
        permissions:
            security-events: write
        steps:
            - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
            - run: semgrep ci --sarif > semgrep.sarif
              env:
                  SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
            - name: Upload SARIF file for GitHub Advanced Security Dashboard
              uses: github/codeql-action/upload-sarif@v4
              with:
                  sarif_file: semgrep.sarif
              if: always()
